{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap %}

{% block content %}
	<div class="container">
		<class class="page-header">
			<h2>
				<a href="{% url 'estoque:estoque_entrada_list' %}"><button type="button" class="btn btn-primary"> <span class="fa fa-arrow-left"></span>
				</button></a>
				{% if 'add/' in request.path %}
				Entrada estoque
				{% else %}
				Editar estoque
				{% endif %}
			</h2>

			<hr>
		</class>
		
		<form method="POST" novalidate>
			{% csrf_token %}
			{% for  field in form.visible_fields %}
				<div class="form-group{% if field.errors %} has-error {% endif %}">
					<label for="{{ field.id_for_label}}">
						{% if field.field.required %}
							<span class="required">
								{{ field.label }}
							</span>
						{% else %}
							{{ field.label }}
						{% endif %}
					</label>
					{% render_field field class="form-control" %}
					{% for error in field.errors%}
						<span class="text-muted">
							{{error}}
						</span>
					{%endfor%}
				</div>
			{% endfor %}
			
			{{ formset.management_form }}

			<div class="row">
				<div class="col-sm-12">
					<h3>Produtos</h3>
					<hr>

					<div class="form-inline" id="estoque">
						{% for item_estoque_form in formset %}
							<div id="item-{{ forloop.counter0}}" class="form-group">
								{{item_estoque_form|bootstrap}}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>

			<span id="add-item" class="btn btn-info" style="margin-top: 10px;">
				<i class="fa fa-plus"></i>
				Adicionar
			</span>

			<div class="row float-right">
				<div class="col-sm-12" style="margin-top: 10px;">
					<div class="form-inline buttons">
						<button class="btn btn-primary" value="Save">
							<i class="fa fa-floppy-o"></i>	
							Salvar
						</button>
						<a class="btn btn-danger" href="{% url 'estoque:estoque_entrada_list' %}" style="margin-left: 2px;">
							<i class="fa fa-times"></i>
							Cancelar
						</a>
					</div>
					
				</div>
			</div>
		</form>
	</div>

{% endblock content %}


{% block js %}

<script type="text/javascript" src="{% static 'js/estoque_entrada.js' %}"></script>

<script type="text/html" id="item-estoque">
	<div id="item-__prefix__" class="form-group" style="margin-top: 10px;">
		{{ formset.empty_form|bootstrap }}
	</div>
</script>

{% endblock js %}