{% extends "base.html" %}

{% block content %}

	<div class="container">
		<class class="page-header">
			<h2>
				<i class="fa fa-arrow-{% if 'Entrada' in titulo %}up{% else%}down{% endif %} estoque-{% if 'Entrada' in titulo %}ok{% else%}nok{% endif %}"></i> Estoque de {{ titulo }}
				<span class="pull-right">
					<a href="{% url url_add %}">
						<button type="button" class="btn btn-primary"> <span class="fa fa-plus"></span>
							Adicionar
						</button>
					</a>
				</span>
			</h2>

			<hr>
		</class>

		{% if object_list %}
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Item</th>
						<th>NF</th>
						<th>Funcionario</th>
						<th>Data</th>
					</tr>
				</thead>
				<tbody>
					{% for object in object_list%}
						<tr>
							<td><a href="{{ object.get_absolute_url }}">{{ object}}</a></td>
							<td>{{ object.nf_formated}}</td>
							<td>{{ object.funcionario}}</td>
							<td>{{ object.created}}</td>
						</tr>
					{% endfor %}
				</tbody>
				
			</table>
		{% else %}
			<p class="alert alert-warning">Lista Vazia.</p>
		{% endif %}
	</div>

{% endblock content %}